h1 = @version.name

hr

.float-right
  = link_to(t('helpers.submit.run.new'), new_run_path(version_id: @version.id), class: 'btn btn-primary btn-sm')

h3 = t('activerecord.models.run').pluralize

= paginate @runs

- @runs.each do |run|
  = render 'runs/card', run: run
