.run-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &__content {
    padding: 10px;
  }

  &__title-bar {
    background: #e0e0e0;
    padding: 5px;

    &--succeeded {
      background: #bfe6b1;
    }

    &--failed {
      background: #f7c1c1;
    }
  }

  &__run-info {
    display: flex;
  }

  &__section {
    align-self: center;
    margin-right: 10px;
    margin-left: 20px;
  }

  &__description {
    font-size: 0.9em;
  }
}
