.run-card {
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);

  &__section {
    display: inline;
    margin-right: 10px;
  }

  &__content {
    padding: 10px;
  }

  &__title-bar {
    background: #e0e0e0;
    padding: 5px;
    font-size: 1.1em;
  }

  &__header {
    display: inline;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 20px;
  }

  hr {
    // margin: 0;
  }

  &__description {
    font-size: 0.9em;
  }

  &__timeline-passed {
    color: green;
  }

  &__timeline-future {
    color: #999;
  }
}
