= link_to rails_blob_path(attachment, disposition: 'attachment') do
  .btn.btn-sm class="btn-#{style}" data-toggle='tooltip' data-placement='top' title=tooltip
    = fa_icon('cloud-download-alt')
    =< label
